aniso8601
backcall
backports.entry-points-selectable
cfgv
click
decorator
distlib
dynaconf
filelock
flake8
Flask
Flask-Cors
Flask-RESTful
gunicorn
identify
ipdb
ipython
itsdangerous
jedi
Jinja2
MarkupSafe
matplotlib-inline
mccabe
mypy-extensions
nodeenv
numpy
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
pre-commit
prompt-toolkit
ptyprocess
pycodestyle
pyflakes
Pygments
pyserial
pytz
PyYAML
regex
scipy
six
toml
tomli
traitlets
typing_extensions
virtualenv
wcwidth
Werkzeug