<!DOCTYPE html>
<html>
    <head>
        <title>LEDSFYS</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/sliders.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.core.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/stylesheet.css') }}">
    </head>
    <body>
        <div class="slidecontainer" id="red">
            <h2> Red </h2>
            <input type="range" min="0" max="255" value="50" class="slider">
            <p class="slidervalue"></p>
        </div>
        <div class="slidecontainer" id="green">
            <h2> Green </h2>
            <input type="range" min="0" max="255" value="50" class="slider">
            <p class="slidervalue"></p>
        </div>
        <div class="slidecontainer" id="blue">
            <h2> Blue </h2>
            <input type="range" min="0" max="255" value="50" class="slider">
            <p class="slidervalue"></p>
        </div>
        <div class="slidecontainer" id="brightness">
            <h2> Brightness </h2>
            <input type="range" min="0" max="100" value="50" class="slider">
            <p class="slidervalue"></p>
        </div>
    </body>
</html>